# Some useful Unicode entities
# Non-Breaking Space
snippet nbs
	&nbsp;
# 鈫?
snippet left
	&#x2190;
# 鈫?
snippet right
	&#x2192;
# 鈫?
snippet up
	&#x2191;
# 鈫?
snippet down
	&#x2193;
# 鈫?
snippet return
	&#x21A9;
# 鈬?
snippet backtab
	&#x21E4;
# 鈬?
snippet tab
	&#x21E5;
# 鈬?
snippet shift
	&#x21E7;
# 鈱?
snippet control
	&#x2303;
# 鈱?
snippet enter
	&#x2305;
# 鈱?
snippet command
	&#x2318;
# 鈱?
snippet option
	&#x2325;
# 鈱?
snippet delete
	&#x2326;
# 鈱?
snippet backspace
	&#x232B;
# 鈳?
snippet escape
	&#x238B;
# Generic Doctype
snippet doctype HTML 4.01 Strict
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""
	"http://www.w3.org/TR/html4/strict.dtd">
snippet doctype HTML 4.01 Transitional
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""
	"http://www.w3.org/TR/html4/loose.dtd">
snippet doctype HTML 5
	<!DOCTYPE HTML>
snippet doctype XHTML 1.0 Frameset
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
snippet doctype XHTML 1.0 Strict
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
snippet doctype XHTML 1.0 Transitional
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
snippet doctype XHTML 1.1
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
# HTML Doctype 4.01 Strict
snippet docts
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""
	"http://www.w3.org/TR/html4/strict.dtd">
# HTML Doctype 4.01 Transitional
snippet doct
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""
	"http://www.w3.org/TR/html4/loose.dtd">
# XHTML Doctype 1.0 Frameset
snippet docxf
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
# XHTML Doctype 1.0 Strict
snippet docxs
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
# XHTML Doctype 1.0 Transitional
snippet docxt
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
# XHTML Doctype 1.1
snippet docx
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
snippet html
	<html>
	${1}
	</html>
snippet xhtml
	<html xmlns="http://www.w3.org/1999/xhtml">
	${1}
	</html>
snippet body
	<body>
		${1}
	</body>
snippet head SIMPLE
	<head>
		${1}
	</head>
snippet head ALL
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"`Close()`>

		<title>${1:`substitute(Filename('', 'Page Title'), '^.', '\u&', '')`}</title>
		${2}
	</head>
snippet title
	<title>${1:`substitute(Filename('', 'Page Title'), '^.', '\u&', '')`}</title>${2}
snippet script
	<script type="text/javascript" charset="utf-8">
		${1}
	</script>${2}
snippet scriptsrc
	<script src="${1}.js" type="text/javascript" charset="utf-8"></script>${2}
snippet style
	<style type="text/css" media="${1:screen}">
		${2}
	</style>${3}
snippet base
	<base href="${1}" target="${2}"`Close()`>
snippet r
	<br`Close()[1:]`>
snippet div
	<div id="${1:name}">
		${2}
	</div>
# Embed QT Movie
snippet movie
	<object width="$2" height="$3" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"
	 codebase="http://www.apple.com/qtactivex/qtplugin.cab">
		<param name="src" value="$1"`Close()`>
		<param name="controller" value="$4"`Close()`>
		<param name="autoplay" value="$5"`Close()`>
		<embed src="${1:movie.mov}"
			width="${2:320}" height="${3:240}"
			controller="${4:true}" autoplay="${5:true}"
			scale="tofit" cache="true"
			pluginspage="http://www.apple.com/quicktime/download/"
		`Close()[1:]`>
	</object>${6}
snippet fieldset
	<fieldset id="$1">
		<legend>${1:name}</legend>

		${3}
	</fieldset>
snippet form
	<form action="${1:`Filename('$1_submit')`}" method="${2:get}" accept-charset="utf-8">
		${3}


	<p><input type="submit" value="Continue &rarr;"`Close()`></p>
	</form>
snippet h1
	<h1 id="${1:heading}">${2:$1}</h1>
snippet input
	<input type="${1:text/submit/hidden/button}" name="${2:some_name}" value="${3}"`Close()`>${4}
snippet label
	<label for="${2:$1}">${1:name}</label><input type="${3:text/submit/hidden/button}" name="${4:$2}" value="${5}" id="${6:$2}"`Close()`>${7}
snippet link
	<link rel="${1:stylesheet}" href="${2:/css/master.css}" type="text/css" media="${3:screen}" charset="utf-8"`Close()`>${4}
snippet mailto
	<a href="mailto:${1:joe@example.com}?subject=${2:feedback}">${3:email me}</a>
snippet meta
	<meta name="${1:name}" content="${2:content}"`Close()`>${3}
snippet opt
	<option value="${1:option}">${2:$1}</option>${3}
snippet optt
	<option>${1:option}</option>${2}
snippet select
	<select name="${1:some_name}" id="${2:$1}">
		<option value="${3:option}">${4:$3}</option>
	</select>${5}
snippet table
	<table border="${1:0}">
		<tr><th>${2:Header}</th></tr>
		<tr><th>${3:Data}</th></tr>
	</table>${4}
snippet textarea
	<textarea name="${1:Name}" rows="${2:8}" cols="${3:40}">${4}</textarea>${5}
# HTML 5 
# HTML Doctype 5
snippet html5
	<!DOCTYPE HTML>
snippet aside
	<aside>
		${1}
	</aside>
snippet article
	<article>
		${1}
	</article>
snippet header
	<header>
		${1}
	</header>
snippet footer
	<footer>
		${1}
	</footer>
snippet hgroup
	<hgroup>
		${1}
	</hgroup>
snippet section
	<section>
		${1}
	</section>
snippet nav
	<nav>
		${1}
	</nav>

# 标题右侧带有链接等
snippet head-title
	.head-title.clearfix>h2+a.more
# 标题类列表
# 1.普通形式
snippet ul-title-list 普通列表
	ul.title-list>li>a.title-link
# 2.右侧带有文字形式
snippet ul-title-list 右侧带有文字形式
	ul.title-list.title-left>li>a.title-link+span.grey
# 排行榜
snippet ul-rate-list
	ul.rate-list>li>i+a.title-link+span.grey
# 用户头像列表
snippet ul-user-avatar
	ul.user-avatar.clearfix>li>a>img+strong
# 图片标题列表
snippet ul-img-title 普通标题列表
	ul.img-title.clearfix>li>a>img+strong
snippet ul-img-title 半透明标题列表
	ul.img-title.title-alpha.clearfix>li>a>img+strong
# 图片文字垂直项目列表
snippet ul-imgtext-v
	ul.imgtext-v.clearfix>li>(a>img)+(h3.short-title>a)+p
# 图文混排水平列表
snippet imgtext-h
	.imgtext-h.clearfix>(a.img-left>img)+(.text-right>(h3>a)+p)
snippet ul-imgtext-h-block
	ul.imgtext-h-block.clearfix>li>(a.img-left>img)+(.text-right>(h3.short-title>a)+p)
# 无缝滚动
snippet carousel
	.carousel>(.view-content>ul>li>a>img+strong)+a.prev-btn+a.next-btn
# 展示所有的缩写
snippet abbr
	head-title         : .head-title.clearfix>h2+a.more
	ul-title-list      : ul.title-list>li>a.title-link
	ul-title-list      : ul.title-list.title-left>li>a.title-link+span.grey
	ul-rate-list       : ul.rate-list>li>i+a.title-link+span.grey
	ul-user-avatar     : ul.user-avatar.clearfix>li>a>img+strong
	ul-img-title       : ul.img-title.clearfix>li>a>img+strong
	ul-imgtext-v       : ul.imgtext-v.clearfix>li>(a>img)+(h3.short-title>a)+p
	imgtext-h          : .imgtext-h.clearfix>(a.img-left>img)+(.text-right>(h3>a)+p)
	ul-imgtext-h-block : ul.imgtext-h-block.clearfix>li>(a.img-left>img)+(.text-right>(h3.short-title>a)+p)
	carousel           : .carousel>(.view-content>ul>li>a>img+strong)+a.prev-btn+a.next-btn
