snippet blog
	<div class="pCategory sl-fixed sl-fixed-right sl-fixed-top">
		<div class="cateTitle">目录</div>
		%toc
	</div>
	= ${1:title} =
	${2:content}

	 blog:datetime=`strftime("%Y/%m/%d %H:%M:%S")`:tags=${3}

